// 
// 
// user.scss
//
// Place your own custom CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.

.navbar-brand svg {
	height: 28px;
    width: 184px;
}

.nav {
	@include media-breakpoint-down(md) {
		flex-wrap: unset;
	}
}

.nav-item {
	font-size: 18px;
	margin: 0 2px;

	@include media-breakpoint-down(md) {
		font-size:16px;
		text-align: center;
	}
}

.lead {
	font-size: 1.1rem;

	strong a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			color: $primary-3;
		}
	}
}


.user-review .text-dark {
	font-size: 14px;
	line-height: 20px;
}

.badge-success {
	background-color: $primary-3;
}

.btn-back-to-top {
	left: 2rem;
	right: auto;
}

.footer-legal {
	font-size: .8em;
}