// 
// 
// user.scss
//
// Place your own custom CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.

.navbar-brand svg {
	height: 28px;
    width: 184px;
}

.nav {
	@include media-breakpoint-down(md) {
		flex-wrap: unset;
	}
}

.nav-item {
	font-size: 18px;
	margin: 0 2px;

	@include media-breakpoint-down(md) {
		font-size:16px;
		text-align: center;
	}
}

.lead {
	font-size: 1.1rem;

	strong a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			color: $primary-3;
		}
	}
}


.user-review .text-dark {
	font-size: 15px;
	line-height: 20px;
}

.badge-success {
	background-color: $primary-3;
}

.btn-back-to-top {
	left: 2rem;
	right: auto;
}

.footer-legal {
	font-size: .8em;
}

article ol {
	padding-left: 1rem !important;

	@include media-breakpoint-down(md) {
		padding-left: .3rem !important;
	}
}

ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.3em;    
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}